* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: #050a0f;
  color: #9cffd0;
  font-family: Consolas, monospace;
}

/* SCREENS */
.screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

/* START */
#startBtn {
  padding: 18px 60px;
  font-size: 20px;
  background: transparent;
  color: #00ff88;
  border: 2px solid #00ff88;
  cursor: pointer;
}

#startBtn:hover {
  box-shadow: 0 0 25px #00ff88;
}

/* LOADING */
#loadingScreen {
  font-size: 18px;
  animation: blink 1.3s infinite;
}

@keyframes blink {
  50% { opacity: 0.4; }
}

/* MENU */
#menuScreen h1 {
  margin-bottom: 30px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu button {
  padding: 14px 20px;
  background: #001a0f;
  color: #00ff88;
  border: 1px solid #00ff88;
  cursor: pointer;
}

.menu button:hover {
  background: #00ff88;
  color: black;
}

/* MODULES */
.module {
  width: 800px;
}

textarea {
  width: 100%;
  height: 140px;
  background: #020607;
  color: #9cffd0;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

.row {
  margin-bottom: 10px;
}

button {
  padding: 10px 14px;
  background: #00ff88;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.back {
  background: transparent;
  color: #00ff88;
  border: 1px solid #00ff88;
}

/* CONSOLE */
.console {
  background: #020607;
  height: 120px;
  padding: 10px;
  overflow-y: auto;
  font-size: 14px;
  color: #7dffbd;
}

.lesson pre {
  background: #020607;
  padding: 10px;
}
