body {
  margin: 0;
  background: black;
  color: #00ff88;
  font-family: monospace;
}

.hidden {
  display: none;
}

#boot {
  padding: 20px;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; display: none; }
}

#desktop {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#window {
  width: 720px;
  background: #020202;
  border: 2px solid #00ff88;
}

#header {
  padding: 6px;
  background: #003322;
  text-align: center;
  font-weight: bold;
}

#output {
  padding: 10px;
  height: 360px;
  overflow-y: auto;
}

#input {
  width: 100%;
  padding: 8px;
  background: black;
  color: #00ff88;
  border: none;
  outline: none;
}
