* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: black;
  color: #00ff88;
  font-family: Consolas, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HIDDEN */
.hidden {
  display: none;
}

/* START */
#startScreen {
  text-align: center;
}

#startBtn {
  padding: 20px 60px;
  font-size: 22px;
  background: black;
  color: #00ff88;
  border: 2px solid #00ff88;
  cursor: pointer;
}

#startBtn:hover {
  box-shadow: 0 0 20px #00ff88;
}

/* LOADING */
#loading {
  font-size: 20px;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  50% { opacity: 0.4; }
}

/* MENU */
#menu {
  text-align: center;
}

.menu-buttons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.menu-buttons button {
  padding: 20px;
  font-size: 16px;
  background: #001a10;
  color: #00ff88;
  border: 1px solid #00ff88;
  cursor: pointer;
}

.menu-buttons button:hover {
  background: #00ff88;
  color: black;
}

/* MODULES */
.module {
  width: 800px;
  background: #020906;
  padding: 20px;
  border: 1px solid #00ff88;
}

.module textarea {
  width: 100%;
  height: 140px;
  background: black;
  color: #00ff88;
  border: 1px solid #00ff88;
  padding: 10px;
  margin: 10px 0;
}

.module button {
  margin-right: 10px;
  padding: 10px;
  background: black;
  color: #00ff88;
  border: 1px solid #00ff88;
  cursor: pointer;
}

.back {
  margin-top: 20px;
}

/* LOG */
#logBox {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px;
  background: #000;
  border-top: 1px solid #00ff88;
  padding: 10px;
  font-size: 14px;
  overflow-y: auto;
}
