body {
  background-color: black;
  color: #00ff00;
  font-family: monospace;
}

#terminal {
  width: 700px;
  margin: 100px auto;
}

#input {
  width: 100%;
  background: black;
  color: #00ff00;
  border: none;
  outline: none;
}
