* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Consolas, monospace;
  background: #050b0f;
  color: #eaffea;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* START */
#startScreen {
  text-align: center;
}

#startScreen h1 {
  font-size: 60px;
  color: #00ff88;
  margin-bottom: 30px;
}

#startBtn {
  padding: 16px 40px;
  font-size: 18px;
  background: #00ff88;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

#startBtn:hover {
  box-shadow: 0 0 20px #00ff88;
}

/* LOADING */
#loading {
  font-size: 20px;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  50% { opacity: 0.4; }
}

.hidden {
  display: none;
}

/* APP */
#app {
  width: 1000px;
  height: 550px;
  background: #0b1116;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

/* SIDEBAR */
#sidebar {
  width: 220px;
  background: #0f1820;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sidebar button {
  padding: 12px;
  background: #1a2a36;
  color: #00ff88;
  border: none;
  cursor: pointer;
}

#sidebar button:hover {
  background: #00ff88;
  color: #001a0f;
}

/* CONTENT */
#content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sim textarea {
  width: 100%;
  height: 150px;
  background: #020607;
  color: #9cffd0;
  border: none;
  padding: 10px;
}

.sim button {
  margin-top: 10px;
  padding: 10px;
  background: #00ff88;
  border: none;
  cursor: pointer;
}

/* LOG */
#log {
  margin-top: auto;
  background: #020607;
  padding: 10px;
  font-size: 14px;
  height: 120px;
  overflow-y: auto;
  color: #7dffbd;
}
